<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <div class="row">
        <header id="header">
          <%= render '/refinery/header' -%>
        </header>
      </div>
      <div class="row">
        <section id="page">
          <%= yield %>
        </section>
      </div>
      <div class="row">
        <footer>
          <%= render '/refinery/footer' -%>
        </footer>
      </div>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
